# Credenciales y configuracion
config/db_config.php
.env
*.env.local

# Contenido dinamico
public/uploads/*

# Excepciones (Archivos de interfaz)
!public/uploads/content/
!public/uploads/defaults/
!public/uploads/aetheris.*


# Logs y cache
*.log
/tmp/
/cache/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores e IDEs
.vscode/
.idea/
*.swp